<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Conditional Statement in Thymeleaf</title>
</head>
<body>
	
	
	<h1>Conditional Statement in Thymeleaf</h1>
	<h1>
	user is <span th:style="${isActive} ? 'color:blue' : 'color:green' "  th:text="${isActive} ? 'Active' : 'Not Active'"></span>
	</h1>
	
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	
	<!-- use of switch cases -->
	
	<div th:switch="${#lists.size(mylist)}">
	<h1 th:case="'0'">list contain 0 element</h1>
	<h1 th:case="'1'">list contain 1 element</h1>
	<h1 th:case="*">list contain more than 1 element</h1>
	
	</div>
	
	
	
	
</body>
</html>